In [1]:
# 연산자와 데이터 유형

print('1.더하기 예 : 2+4=' , 2+4)

print('2.빼기 예 : 4-2=', 4-2)

print('3.곱하기 예 : 4X2=' , 4*2)

print('4.나누기 예 : 4/2=' , 4/2)

print('5.나누기에서 몫만 출력하기 예: 4//2=' , 4//2)

print('6.나누기에서 나머지값만 출력하기 예: 4%2=' , 4%2)

print('7.주어진 숫자의 승수값 출력하기 예: 4**2=', 4**2)

1.더하기 예 : 2+4= 6
2.빼기 예 : 4-2=  2
3.곱하기 예 : 4X2= 8
4.나누기 예 : 4/2= 2.0
5.나누기에서 몫만 출력하기 예: 4//2= 2
6.나누기에서 나머지값만 출력하기 예: 4%2= 0
7.주어진 숫자의 승수값 출력하기 예: 4**2= 16

In [3]:
i=0
i = i+1
print('변수 i에 저장된 값은 %s입니다' %i)

i=0
i += 1
print('변수 i에 저장된 값은 %s입니다' %i)

변수 i에 저장된 값은 1입니다
변수 i에 저장된 값은 1입니다

In [4]:
no1 = input('첫번째 숫자 입력:')
no2 = input('두번째 숫자 입력:')

print('''첫번째 숫자는 %s 이고 두번째 숫자는 %s 이며 , 
두 숫자의 합은 %s 입니다''' %(no1 , no2 , no1 + no2))

첫번째 숫자 입력:3
두번째 숫자 입력:2
첫번째 숫자는 3이고 두번째 숫자는 2이며 ,
두 숫자의 합은 32 입니다

In [6]:
no1 = int( input('첫번째 숫자 입력:') )
no2 = int( input('두번째 숫자 입력:') )

print('''첫번째 숫자는 %s 이고 두번째 숫자는 %s 이며 , 
두 숫자의 합은 %s 입니다''' %(no1 , no2 , no1 + no2))

첫번째 숫자 입력:3
두번째 숫자 입력:2
첫번째 숫자는 3 이고 두번째 숫자는 2 이며 ,
두 숫자의 합은 5 입니다

In [7]:
fvar1 = input('첫번째 실수를 입력하세요:') 
fvar2 = input('두번째 실수를 입력하세요:') 

print('''첫번째 수는 %s 이고 두번째 수는 %s 이며 , 
두 수를 합친 수는 %s 입니다''' %(fvar1 , fvar2 , fvar1 + fvar2))

첫번째 실수를 입력하세요:3.5
두번째 실수를 입력하세요:1.5
첫번째 수는 3.5 이고 두번째 수는 1.5 이며 ,
두 수를 합친 수는 3.51.5 입니다

In [8]:
fvar1 = float( input('첫번째 실수를 입력하세요:') ) 
fvar2 = float( input('두번째 실수를 입력하세요:') )

print('''첫번째 수는 %s 이고 두번째 수는 %s 이며 , 
두 수를 합친 수는 %s 입니다''' %(fvar1 , fvar2 , fvar1 + fvar2))

첫번째 실수를 입력하세요:3.1
두번째 실수를 입력하세요:1.5
첫번째 수는 3.1 이고 두번째 수는 1.5 이며 ,
두 수를 합친 수는 4.6 입니다

In [9]:
no1 = 3.45678
no2 = 3.56789
print('원래값:%s , 반올림후 값: %s' %(no1, round(no1) ) )
print('원래값:%s , 반올림후 값: %s' %(no2, round(no2) ) )

원래값:3.45678 , 반올림후 값: 3
원래값:3.56789 , 반올림후 값: 4

In [12]:
no1 = 3
no2 = 5
print('반올림하기 전 원래값: ' , no2 / no1)
print('소수 첫째자리까지 반올림하기:' , round(no2 / no1 , 1))
print('소수 둘째자리까지 반올림하기:' , round(no2 / no1 , 2))

반올림하기 전 원래값:  1.6666666666666667
소수 첫째자리까지 반올림하기: 1.7
소수 둘째자리까지 반올림하기: 1.67

In [13]:
import math

no1 = 3
no2 = 5
print('버림하기 전 원래값: ', no2 / no1)
print('소수 첫째자리까지 버림하기:' , math.trunc(no2/no1))

버림하기 전 원래값:  1.6666666666666667
소수 첫째자리까지 버림하기: 1

In [14]:
cnt=int( input('총 몇건의 데이터를 수집할까요? :') )
page_cnt = math.ceil( cnt / 15 )
print('총 %s 페이지까지 데이터를 수집해야 합니다' %page_cnt)

총 몇건의 데이터를 수집할까요? :16
총 2 페이지까지 데이터를 수집해야 합니다

In [15]:
import math

no1 = 4.9
no2 = 4.1

print('%s 보다 작으면서 가장 가까운 정수는 %s 입니다' %(no1,math.floor(no1)))
print('%s 보다 작으면서 가장 가까운 정수는 %s 입니다' %(no2,math.floor(no2)))

4.9 보다 작으면서 가장 가까운 정수는 4 입니다
4.1 보다 작으면서 가장 가까운 정수는 4 입니다

In [16]:
str1 = '파이썬완전쉽죠?'
print(str1)
print(str1[0])
print(str1[1])

파이썬완전쉽죠?
파
이

In [17]:
str1='파이썬완전쉽죠?'
print(str1)

print(str1[0:4])

파이썬완전쉽죠?
파이썬완

In [18]:
str1 = '파이썬 완전 쉽죠?'

print(str1[3: ])
print(str1[ :3])

 완전 쉽죠?
파이썬

In [19]:
str3 ='     <- 이쪽 끝에 공백 있었어요'
str4 ='오른쪽 끝에 공백 있었어요 ->   '
str5 ='   <-양쪽 끝에 공백 있었어요->   '

print( str3.lstrip( ) )
print( str4.rstrip( ) )
print( str5.strip( ) )

<- 이쪽 끝에 공백 있었어요
오른쪽 끝에 공백 있었어요 ->
<-양쪽 끝에 공백 있었어요->

In [20]:
str6='새우깡도 해산물인가요?'
print( str6.replace('새우깡','새우'))

새우도 해산물인가요?

In [21]:
tel = '02-1234-5678'
print( tel.split('-'))
print( tel.split('-',1))

['02', '1234', '5678']
['02', '1234-5678']

In [22]:
str1 = '파이썬 완전 좋아요'
str2 = ['파이썬','웹크롤러','가치랩스']

print( len(str1) )
print( len(str2) )

10
3

In [23]:
print('=' *80)
print('문자열로 연산하기 실습')
print('+' *80)

================================================================================
문자열로 연산하기 실습
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [24]:
list1 = ['1982-07-15', '홍길동' , 30]
print(list1)

['1982-07-15', '홍길동', 30]

In [26]:
list2 = ['첫째','둘째','셋째']
list2.append('append로 추가한 것')
list2.insert(2,'insert로 추가한 것')

print(list2)

['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']

In [27]:
print('삭제전 목록:' , list2)
del list2[2]
print('삭제후 목록:', list2)

list2.remove('append로 추가한 것')
print('remove로 삭제 후 목록:', list2)

삭제전 목록: ['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']
삭제후 목록: ['첫째', '둘째', '셋째', 'append로 추가한 것']
remove로 삭제 후 목록: ['첫째', '둘째', '셋째']

In [28]:
list3 = [3,1,5,8,2]
list3.sort( )
print('오름차순(기본)정렬후:' , list3)

list3.reverse( )
print('내림차순 정렬후:', list3)

list4=['banana','apple','cherry','Apple']
list4.sort( )
print('영어 정렬:',list4)

list5=['홍길동','전우치','김유신','이순신']
list5.sort( )
print('한글 정렬:',list5)

오름차순(기본)정렬후: [1, 2, 3, 5, 8]
내림차순 정렬후: [8, 5, 3, 2, 1]
영어 정렬: ['Apple', 'apple', 'banana', 'cherry']
한글 정렬: ['김유신', '이순신', '전우치', '홍길동']